name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - name: Check mod
        run: |
          go install
          git diff --exit-code
      - run: go build
      - run: go build github.com/loilo-inc/canarycage/cli/cage
      - run: go test ./... -coverprofile=coverage.txt -covermode=count
      - uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          fail_ci_if_error: true
          files: coverage.txt
